<!DOCTYPE html>
<html lang="{{base.page_lang}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{page_description}}">
		
		<title>{{page_title}}</title>
		
		<link rel="icon" type="image/png" href="{{base.url_icon}}favicon.png">
		<link rel="apple-touch-icon" href="{{base.url_icon}}apple-touch-icon.png">
		
		<link rel="stylesheet" href="{{base.url_css_bootstrap}}">
		<link rel="stylesheet" href="{{base.url_css_base}}">
	</head>
	
	<body class="">
		
		<header>
			<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary navbar-shadow py-2">
				<a class="navbar-brand text-logo mr-5" href="{{base.url_logo}}" data-toggle="tooltip" data-placement="bottom" title="{{base.text_logo_tooltip}}">
					<span class="h2">{{base.text_logo}}</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar" aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse mt-3 mt-sm-0" id="main_navbar">
					<ul class="navbar-nav" style="text-transform:uppercase">
						<li class="nav-item"><a href="{{base.url_about}}"   class="nav-link">Companie</a></li>
						<li class="nav-item"><a href="{{base.url_about}}"   class="nav-link">Platforma SaaS</a></li>
						<li class="nav-item active"><a href="{{base.url_terms}}"   class="nav-link">Documentatie</a></li>
					</ul>
					
					
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{base.current_lang_name}}</a>
							<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
								{% for data in base.lang_data_list %}
									<a class="dropdown-item {% if data.current == true %} disabled {% endif %}" href="{{data.url}}">{{data.name}}</a>
								{% endfor %}
							</div>
						</li>
					</ul>
					
					
				</div>
			</nav>
		</header>
		
		<div class="bg-white">
			<div class="container mt-5 pt-5 pb-5">
				<div class="row">
					<div class="col-lg-9">
						<h1>Termeni si conditii</h1>
						{% block content %}{% endblock %}
						
						<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
					</div>
					
					
					<div class="col-lg-3">
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
		
		<!--
		<footer class="mb-5">
			<div class="container">
				<div class="row mt-2">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
						<ul class="nav justify-content-center">
							<li class="nav-item"><a href="{{base.url_about}}"   class="nav-link text-secondary">{{base.text_about}}</a></li>
							<li class="nav-item"><a href="{{base.url_help}}"    class="nav-link text-secondary">{{base.text_help}}</a></li>
							<li class="nav-item"><a href="{{base.url_terms}}"   class="nav-link text-secondary">{{base.text_terms}}</a></li>
							<li class="nav-item"><a href="{{base.url_conf}}"    class="nav-link text-secondary">{{base.text_conf}}</a></li>
							<li class="nav-item"><a href="{{base.url_contact}}" class="nav-link text-secondary">{{base.text_contact}}</a></li>
							<li class="nav-item dropup">
								<a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{base.current_lang_name}}</a>
								<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
									{% for data in base.lang_data_list %}
										<a class="dropdown-item {% if data.current == true %} disabled {% endif %}" href="{{data.url}}">{{data.name}}</a>
									{% endfor %}
								</div>
							</li>
							<li class="nav-item"><span class="nav-link text-secondary">&copy;{{base.text_year}}</span></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		-->
		
		<script src="{{base.url_js_jquery}}"></script>
		<script src="{{base.url_js_popper}}"></script>
		<script src="{{base.url_js_bootstrap}}"></script>
		<script src="{{base.url_js_base}}"></script>
		
	</body>
</html>
