<!DOCTYPE html>
<html lang="{{page_lang}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{page_description}}">
		
		<title>{{page_title}}</title>
		
		<link rel="icon" type="image/png" href="{{url_icon}}favicon.png">
		<link rel="apple-touch-icon" href="{{url_icon}}apple-touch-icon.png">
		
		<link rel="stylesheet" href="{{url_css_bootstrap}}">
		<link rel="stylesheet" href="{{url_css_base}}">
	</head>
	
	<body class="bg-img">
		<div class="container">
			<div class="row text-center mt-5">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<h1 class="display-1 text-white">{{text_title}}</h1>
					<h2 class="text-white">{{text_subtitle}}</h2>
					<br><br>
					<a href="{{url_home}}" class="btn btn-lg btn-outline-secondary"><span class="fa fa-home"></span> {{text_home}}</a>
				</div>
			</div>
		</div>
		<script src="{{url_js_bootstrap}}"></script>
		<script src="{{url_js_base}}"></script>
	</body>
</html>
